# DB
DATABASE_URL=postgresql://root:password@localhost:5432/db_portfolio

# Auth
NUXT_SESSION_PASSWORD=

# Admin
NUXT_ADMIN_EMAIL=
NUXT_ADMIN_PASSWORD=

# Brevo
NUXT_BREVO_API_KEY=
NUXT_CONTACT_EMAIL=
NUXT_SENDER_EMAIL=

# Turnstil
NUXT_TURNSTILE_SECRET_KEY=
NUXT_TURNSTILE_SITE_KEY=