# DB
DATABASE_URL=postgresql://root:password@postgres:5432/db_portfolio

# Auth
NUXT_SESSION_PASSWORD=

# Admin
NUXT_ADMIN_EMAIL=
NUXT_ADMIN_PASSWORD=

# Brevo
NUXT_BREVO_API_KEY=
NUXT_BREVO_CONTACT_EMAIL=
NUXT_BREVO_SENDER_EMAIL=

# Turnstil
NUXT_TURNSTILE_SECRET_KEY=
NUXT_TURNSTILE_SITE_KEY=

# Cloudfare R2
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
CLOUDFLARE_R2_BUCKET=
S3_REGION=
CLOUDFLARE_ACCOUNT_ID=

NUXT_OG_IMAGE_SECRET=
NUXT_PUBLIC_SITE_URL=